@import 'src/app/styles/palette.scss';

.input {
  border: 1px solid $border;
  background: inherit;
  border-radius: 6px;
  padding: 5px;
  color: white;
  width: 90%;

  &:focus {
    outline: none;
  }

  &[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
